# Ignore folder
data/

# Ignore folder
.ipynb_checkpoints/

# Ignore folder

# Ignore folder
data/

# Ignore folder
model/

# Ignore folder
runs/


# Ignore folder
yolo_util/crops2
yolo_util/model_data
yolo_util/font